body {
    text-align: center;
    font-family: "Montserrat";
    margin: 0;
}

h2 {
    color: #00bcd4;
    font-size: 1.6rem;
    margin-bottom: 15px;
}

h3 {
    font-size: 1.4rem;
}

hr {
    margin: 50px 48%;
    border: none;
    border-top: dotted 8px #d9ccd1;
}

p {
    font-size: 1.1rem;
    line-height: 1.7;
}

/* base components */
.container-fluid {
    padding: 7% 15% 1% 15%;
    position: relative;
}

.paragraph {
    margin: 0 35%;
}
/* end base components */

/* top container */
.top-container {
    background-color: #f1f3f4;
}

.main-title {
    font-family: "Cutive";
}

.top-cloud {
    position: absolute;
    right: 20%;
    animation: TopCloud 3s linear infinite;
}

.bottom-cloud {
    position: absolute;
    left: 20%;
    animation: BottomCloud 5s linear infinite;
}
/* end top container */

/* middlecontainer */
.my-self {
    width: 200px;
    border: 2px solid #00bcd4;
    border-radius: 50%;
    margin-bottom: 25px;
}

.fas {
    color: #d9ccd1;
    font-size: 60px;
    margin: 30px 0 10px 0;
}

.skill-develop {
    text-align: left;
}

.skill-design {
    text-align: right;
}

.btn {
    border: #00bcd4 1px solid;
    border-radius: 8px;
}

.btn:hover {
    background-color: #00bcd4;
    color: #fff;
}

/* end middle container */

/* bottom container */
.bottom-container {
    background-color: #f1f3f4;
    margin-top: 50px;
}

.fab {
    color: #00bcd4;
    font-size: 25px;
    margin-bottom: 10px;
}

/* end bottom container */

/* animations */
@keyframes TopCloud {
    0%,
    100% {
        top: 20%;
    }
    50% {
        top: 30%;
    }
}

@keyframes BottomCloud {
    0%,
    100% {
        bottom: 60%;
    }
    50% {
        bottom: 45%;
    }
}
/* end animations */

/* screen size */
@media (max-width: 1300px) {
    hr {
        margin: 50px 43%;
    }

    /* base components */
    .paragraph {
        margin: 0;
        text-align: center;
    }

    /* end base components */

    /* top container */
    .top-cloud {
        width: 20%;
        right: 1%;
        top: 10%;
    }

    .bottom-cloud {
        width: 20%;
        left: 4%;
        bottom: 40%;
    }

    .lotus {
        width: 80%;
    }
    /* end top container */

    /* middle container */

    /* end middle container */
}
/* end screen size */
